* {
    margin: 0%;
    padding: 0%;
    font-family: 'Courier New', Courier, monospace;
}

h1 {
    text-align: center;
    text-shadow: 2px 2px 10px rgba(0, 0, 0, 0.517);
}

html {
    height: 100vh;
}

body {
    background: black; 
    background-image:url(../../imagens/back-phone.jpg) ;
    background-repeat: no-repeat ;
    background-position: center center;
}

main {
    width: 400px; 
    margin: auto;
    border-radius: 15px;
    background-color: rgba(255, 255, 255, 0.765)
}
img {
    display: block;
    margin: auto;
}

#tablet {
    display: none;
}
#print {
    display: none;
}
#pc {
    display: none;
}
#tv {
    display: none;
}


